@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fbf4f5;
}

.pink-shadow {
  box-shadow: 0px 3px 8px rgb(243, 222, 225, 0.7);
}
